li{
    list-style: none;  
  }
  a{
      text-decoration: none;
      color: #221010;
      font-size: 1rem;
  }
  a:hover{
      color:orange;
  }
  /* HEADER */
  header{
      position:relative;
      padding: 2rem;
  }
  .navbar{
      width:100%;
      height: 60px;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navbar{
    margin-bottom: 10rem;
    margin-top: 2rem;
  }
  .navbar .logo a{
      font-size: 1.5rem;
      font-weight: bold;
  }
  .navbar .links{
      display: flex;
      gap: 2rem;
  }
  .navbar .toggle-btn{
  color:#422323;
  font-size:1.5rem;
  cursor: pointer;
  display: none;
  }
  .action-btn{
      background-color: orange;
      color: #3d2222;
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      transition: scale 0.2 ease;
  }
  .action-btn:hover{
      scale: 1.05; 
      color: #fff;
  }
  .action-btn:active{
      scale: 0.95;
  }
  .dropdown-menu{
      display: block;
      position: absolute;
      right: 2rem;
      top: 85px;
      height: 0;
      width: 300px;
      background: rgba(225, 225, 225, 0.1);
      backdrop-filter: blur(15px);
      border-radius: 10px;
      overflow: hidden;
      transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown-menu.open{
      height: 240px;
  }
  
  .dropdown-menu li{
     padding: 0.7rem; 
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .dropdown-menu .action-btn{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  section#hero{
     height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 25px;
      background-color: rgba(255, 255, 255, 0.2); 
      color: #fff;
  }
  #hero h1{
      font-size: 3rem;
      margin-bottom: 1rem;
  }
  /* RESPONSIVE DESIGN */
  @media(max-width: 992px){
      .navbar .links,
      .navbar .action-btn{
          display:none;
      }
      .navbar .toggle-btn{
          display: block;
      }
      .dropdown-menu{
          display: block;
      }
  }
  @media(max-width: 576px){
  
  .dropdown-menu{
      left: 2rem;
      width:unset;
  }
  }